@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates',sans-serif;
}
#modal-toggle{
    display:none;
}
#princ{
    background-image: url(../img/fondoful.png);
    height: 650px;
    width: auto;
}
#imlogo{
   position: relative;
    display: inline-block;
}
#texto{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
}
.textoo{
    padding-left: 10px;
    padding-top: 100px;
    color: azure;
}
.textootit{
text-align: center;
    padding-bottom: 50px;
}
.bio{
    font-family: monospace;
    color: black;
    text-align: center;
    font-size: 50px;
    padding-bottom: 30px;
}
.border{
     border-style: solid;
    border-color: black;
}
.divintro{
    background-color: transparent;
    height: 1030px;
    width: auto;
}



.divintro{
    text-align: center;
}

.divintro h5{
    font-size: 2.5vh;
}
.divintro ul{
    font-size: 2vh;
}







.container
{
    padding-top: 50p;
    padding-bottom: 50px;
  width: 100%;
  height: 100%;
}
.trans
{
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.top
{
  display: flex;
  width: 80vw;
  height: 80vh;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
}
.top ul
{
  list-style: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-sizing: border-box;
}
.top ul li
{
  position: relative;
  float: left;
  width: 25%;
  height: 25%;
  overflow: hidden;
}

.top ul li::before
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  content: '';
  color: white;
  opacity: 0.4;
  text-align: center;
  box-sizing: border-box;
  pointer-events: none;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.top ul li:hover::before
{
  opacity: 0;
  background-color: rgba(0,0,0,0.90);
}
.top ul li img
{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.border{
    margin: 20px;
    padding: 20px;  
    font-size: 3vh;
    font-weight: 1000px;
}
.lightbox
{
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
}
.lightbox img
{
  max-width: 90%;
  max-height: 80%;
  position: relative;
  top: -100%;
  /* Transition */
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.lightbox:target
{
  outline: none;
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  -webkit-transition: all 1.2s ease;
}
.lightbox:target img
{
  top: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}





.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


}
.formulario label,
.formulario input,
.formulario textarea,
.formulario button{
    display:block;
    width:100%;
    margin-bottom: 10px;
}
.formulario button{
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: #ffffff; 
    background-color:  #04AA6D;
    
}


.it{
    text-align: center;
}
.lt1{
    padding-top: 100px;
    padding-left: 200px;
}
.lt2{
    padding-top: 100px;
    padding-left: 200px;
}
.imgl{
    height: 200px;
    width: 400px;
    display: flex;
    align-content: center;
}
.it2{
    text-align: center;
    padding-top: 100px;
}
.tt{
    padding: 70px;
}
.imgs{
        height: 100px;
    width: 200px;
    display: flex;
    align-content: center;
    
}


/* Estilos para el modal */
.imagen-container {
    position: relative;
    width: fit-content;
}

.imagen {
    width: 200px; /* Ancho inicial de la imagen */
    transition: width 0.3s ease-in-out; /* Transición suave del cambio de tamaño */
}

.modal {
    display: none; /* Oculta el modal inicialmente */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9); /* Fondo negro semitransparente */
    overflow: auto;
    text-align: center;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
}

.close {
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}

#modal-toggle:checked + .modal {
    display: block; /* Muestra el modal cuando el checkbox está marcado */
}

#modal-toggle:checked + .modal + .imagen-container .imagen {
    width: 90%; /* Ajusta el tamaño de la imagen cuando el modal está abierto */
}
#formulario
   display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;

